body{
	max-width:40em;
	margin:0 auto;
	padding:5px;
	font-family:Verdana, Geneva, Tahoma, sans-serif,serif;
	font-size:20px;
	line-height:30px;
	background-color:#fff;
	color:#000
}
h1,h2,h3,dt,small,.small,footer,label,cite,div.blogparent,input[type="submit"]{
	font-family:valkyrie_c4;
	font-weight:normal;
	font-style:normal
}
span.url {
	font-family:Verdana, Geneva, Tahoma, sans-serif,serif;
}
small,.small,footer{
	font-size:0.8em;
	color:#666
}
h1,h2,h3,label{
	line-height:1em
}
h1{
	font-size:2em
}
h2 a{
	color:#000;
	text-decoration: underline
}
h2,h3{
	margin-top:2em
}
h3{
	font-size:1.5em
}
a{
	text-decoration:none;
	color:#3273dc;
	overflow-wrap:break-word;
	word-wrap:break-word
}
a:visited{
	color:#606
}
a:hover{
	text-decoration:underline
}